*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: hepta;
    src: url('./assets/fonts/HeptaSlab-VariableFont_wght.ttf');
}

@font-face {
    font-family: jetbrain;
    src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

.front-circle{
    opacity: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #2BAF2B;
    position: absolute;
}

@media (max-width: 768px) {
    
    .front-circle{
        height: 20px;
        width: 20px;
    }
}

/* colors */

/* #2BAF2B */
/* #68DA68 */

/* #024397 */
/* #025CCF */

/* #770BE5 */
/* #9332F5 */