*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hepta-semiBold;
    src: url('./HeptaSlab-Bold.ttf');
}
@font-face {
    font-family: hepta-reg;
    src: url(./HeptaSlab-Regular.ttf);
}
html, body{
    height: 100%;
    width: 100%;
}

/* colors */

/* #2BAF2B */
/* #68DA68 */

/* #024397 */
/* #025CCF */

/* #770BE5 */
/* #9332F5 */