*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

/* colors */

/* #2BAF2B */
/* #68DA68 */

/* #024397 */
/* #025CCF */

/* #770BE5 */
/* #9332F5 */